[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sunburstShinyWidget"]
	path = sunburstShinyWidget
	url = https://github.com/tazovsky/sunburstshinywidget
